* {
    box-sizing: border-box;
}

:root {
    --main-color: #ee6e73;
}

nav {
    z-index: 999;
    background: transparent;
    box-shadow: none;
}

nav a, #about-content b {
    color: var(--main-color) !important;
}

nav .brand-logo {
    font-weight: 600;
}

.body-content {
    padding-top: 64px;
    height: calc(100vh - 64px);
}


#home-content, #about-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts-content {
    padding-top: 3rem;
}

.contact-info .card {
    display: flex;
}

.contact-info .card .card-title {
    margin-bottom: 0px;
    font-weight: 600;
}

.contact-info .card .card-subtitle {
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #2196F3 !important;
}

.contact-info .contact-image {
    width: 200px;
    min-height: 50px;
    background-size: cover;
    background-color: #ddd;
}

.contact-info .card {
    position: relative;
    overflow: hidden;
}

.contact-info .card-content button {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 43px;
    background: var(--main-color);
    border: 0;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    right: -80px;
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.contact-info .card-content button.bookmark:hover {
    right: -10px;
}

.contact-info .card-content button.unbookmark:hover {
    right: 0px;
}

.social-item {
    display: inline-block;
}

.social-item img {
    width: 25px;
    height: 25px;
}

#about-content {
    flex-direction: column;
    text-align: center;
}

#about-content p {
    font-size: 18px;
    margin: 0;
    max-width: 400px;
}


@media screen and (max-width: 400px) {
    #home-content img {
        width: 100% !important;
        height: auto !important;
    }
}