<li><a class="waves-effect" href="#home">Home</a></li>
<li><a class="waves-effect" href="#contacts">Contacts</a></li>
<li><a class="waves-effect" href="#bookmarks">Bookmarks</a></li>
<li><a class="waves-effect" href="#about">About</a></li>