<div id="about-content">
    <h2>What's <b>Contact</b> ?</h2>
    <p>We are internal application which used to share employee contacts in our company. You can only access this
        website by VPN.</p>
</div>